.landing-bg {
  background-image: url('../../public/Main.png');
  background-position: center;
  background-repeat: no-repeat;
}

.brief-bg {
  background-image: url('../../public/bg2.webp');
  background-position: right;
  background-repeat: no-repeat;
}

.expertise-bg {
  background-image: url('../../public/4.webp');
  background-position: left;
  background-repeat: no-repeat;
}
